@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format('woff2'), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format('woff'), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format('truetype'), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'maaji';
  src: url("../fonts/maaji.woff2?v=4.6.3") format('woff2'), url("../fonts/maaji.woff?v=4.6.3") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
header {
  background: url("../image/header.png") no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 262px;
  margin: 0 auto;
}
header h1 {
  margin: 20px auto 0 auto;
  text-align: center;
  width: 100%;
}
header h1 img {
  width: 30%;
  margin: auto;
}
section .axblog {
  border: 2px solid #76beba;
  margin: 10px 0;
  padding: 10px;
  color: #525252;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#navbar {
  width: 90%;
}
#navbar li {
  border-right: 1px solid #525252;
}
#navbar li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #525252;
  font-weight: 500;
}
#navbar li:last-child {
  border-right: none;
}
#navbar li a:hover {
  background: #76beba;
}
#navbar .active {
  background: #76beba;
}
section .axblog {
  width: 100%;
}
section .axblog .titulo {
  font-size: 80px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  margin: 20px auto;
  padding: 0;
  height: 64px;
}
section .axblog .titulo2 {
  font-size: 80px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  margin: 50px auto 50px auto;
  padding: 0;
  height: 65px;
  line-height: 47px;
  height: 90px;
}
section .axblog .titulo3 {
  font-size: 65px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  margin: 0px auto;
  padding: 0;
  height: 60px;
}
section .axblog .titulo4 {
  font-size: 65px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  margin: 0px auto;
  padding: 0;
  height: 69px;
  line-height: 31px;
  margin: 17px auto 0 auto;
}
section .axblog .titulo6 {
  font-size: 49px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  padding: 0;
  line-height: 44px;
  height: 90px;
  margin-top: 40px;
}
section .axblog .link {
  color: #76beba;
  text-decoration: none;
}
section .axblog .link2:hover {
  text-decoration: none;
}
section .axblog .footer {
  font-size: 14px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  height: auto;
}
section .axblog .footer img {
  width: 50%;
  margin: auto;
  padding: 0;
}
section .axblog ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
section .axblog ul li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  width: 40px;
  background: #76beba;
  border-radius: 50%;
  height: 40px;
  text-align: center;
  padding: 7px;
  margin: 5px;
}
section .axblog ul li .fa {
  color: #f2f0e0;
  padding: 2px;
  font-size: 20px;
}
section .axblog p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
}
section .axblog .titulo2 img {
  width: 35%;
  margin: auto;
  padding: 0;
}
section .axblog .titulo3 h2 img {
  width: 10%;
  margin: auto;
  padding: 0;
}
section .titulo4 {
  text-align: center;
}
section .titulo4 a {
  font-size: 65px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  margin: 20px auto;
  padding: 0;
  text-decoration: none;
}
section .ax-sidebar p {
  font-size: 12px;
}
section .ax-sidebar .titulo {
  font-size: 16px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  height: auto;
}
section .ax-sidebar .media-left {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
section .ax-sidebar .media-left a {
  font-weight: 700;
  color: #76beba;
}
section .ax-sidebar .media-body {
  vertical-align: top;
  display: inline-block;
  width: 200px;
}
section .ax-sidebar .media-body h4 {
  font-size: 14px;
}
section .axarticle .ax-pie {
  font-size: 12px;
}
section .axarticle .titulo {
  font-size: 63px;
  text-align: center;
  color: #76beba;
  font-weight: 300;
  font-family: 'maaji';
  margin: 20px auto;
  padding: 0;
  height: 75px;
}
section .axarticle span p {
  color: #76beba;
  font-weight: 500;
  margin-top: 10px;
}
section .axarticle p {
  font-weight: 300;
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
}
section .axarticle blockquote p {
  color: #76beba;
  font-weight: 500;
}
.dropdown-menu>.active>a {
  background: #76beba;
}
#navbar .dropdown-menu li {
  border-right: none;
}
